.top
  .top-title
    %h2.top-title-main Let's Share NOMAD CAFE
    %p.top-title-lead available Wi-Fi & Outlet

.container
  .section-title
    お気に入り一覧
  - @articles.each do |article|
    = render 'articles/article', article: article