.top
  %h2.top-title Let's Share NOMAD CAFE
  %p.top-title-lead available Wi-Fi & Outlet

.container
  -# 検索フォーム
  %h2#search_toggle 
    .fas.fa-search-plus
    検索(←click!!)
  #index_search
    = render 'search_form'
  
  -# 記事一覧
  = render 'articles', articles: @articles

= javascript_pack_tag 'header'
