-# ↓↓↓↓↓indexで検索結果を表示するようにしたため、使用しない↓↓↓↓↓
.top
  .top-title
    %h2.top-title-main Let's Share NOMAD CAFE
    %p.top-title-lead available Wi-Fi & Outlet

.container
  -# 検索フォーム
  %h2#search_toggle 
    .fas.fa-search-plus
      検索
  = render 'search_form'
  
  -# 記事一覧
  = render 'articles', articles: @articles

= link_to new_article_path do
  .float_btn
    %i.fa.fa-plus

= javascript_pack_tag 'header'
