$primary-color: #8AC542;
$base-bg-color: rgb(241, 245, 247);
$font-lg: 22px;
$text-base-color: #616161;
$main-color-text: #616161;

$text-font-size: 2.0rem;
$text-size-lg: 1.8rem;
$text-size-md: 1.4rem;
$text-size-sm: 0.8rem;
