@import './variables';
@import './mixin';

.btn-primary {
    background-color: #FFF;
    border: 1px solid #858585 ;
    display: block;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    color: #858585;
    padding: 8px 0;
    font-weight: bold;
    border-radius: 999px;
    font-size: 2rem;
    &:hover {
      opacity: 0.7;
    }

    @include mq(md) {
      width: 30%;
      @include mq(sm) {
        width: 40%;
        font-size: 1.4rem;
      }
    }
  }

.btn-secondary {
  background-color: white;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: bold;
}

