@import './variables';

$heart-size: 24px;
$avatar-size: 20px;


.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 16px;

  &-image {
    width: 40%;
    max-width: 200px;
    max-height: 200px;
    margin-right: 16px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    width: 60%;
  }

  &-shop_name {
    font-size: 1.3rem;
    // margin-bottom: 4px;
  }

  &-shop_area {
    font-size: 1.1rem;
    margin-bottom: 4px;
    display: inline-block;
  }
  
  &-city-box {
    display: inline-block;
  }

  &-shop_address {
    font-size: 1.1rem;
    margin-bottom: 4px;
    word-wrap: break-word;
  }

  &-shop_facility {
    font-size: 1.1rem;
    margin-bottom: 4px;
  }

  &-detail {
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    img {
      width: $avatar-size;
      height: $avatar-size;
      // border-radius: 30px;
      margin-right: 8px;
    }
    }

    &-heart {
      // border-radius: 100%;
      img {
        width: $heart-size;
        height: $heart-size;
        // border-radius: 30px;
        // margin-right: 8px;
      }
    }

  // &_heart {
  //   display: flex;

  //   img {
  //     width: $heart-size;
  //     height: $heart-size;
  //   }

  //   span {
  //     margin-left: 8px;
  //     font-size: 12px;
  //     font-weight: bold;
  //     // color: $primary-color;
  //     line-height: $heart-size;
  //   }
  // }

  // 

  

  // &_image {
  //   height: 180px;
  //   position: relative;
  //   overflow: hidden;

  //   img {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     -webkit-transform: translate(-50%, -50%);
  //     -ms-transform: translate(-50%, -50%);
  //     transform: translate(-50%, -50%);
  //     width: 100%;
  //   }
  // }
}