input {
  &.text {
    width: 100%;
    margin: 0 0 8px 0;
    padding: 8px 8px;
    border: 1px solid #EBEBEB;
  }
}

label {
  font-size: 1.4rem;
  // font-weight: bold;
}

textarea, trix-editor {
  width: 100%;
  margin: 0 0 8px 0;
  padding: 8px 8px;
  min-height: 220px;
  max-width: 60%;
  resize: vertical;
  border: 1px solid #EBEBEB;
  &.sm {
    min-height: 160px;
  }
}

select {
  border: 1px solid #EBEBEB;
  margin: 0 0 8px 0;
}