@import "mixin";

span {
  font-size: 1.4rem;
}

input {
  &.text {
    width: 100%;
    margin: 0 0 8px 0;
    padding: 8px 8px;
    border: 1px solid #EBEBEB;
  }
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  margin:8px 0 4px 0 ;
  @include mq(sm) {
    font-size: 1.2rem;
    margin:4px 0 ;
  }
}

textarea, trix-editor {
  width: 100%;
  margin: 0 0 8px 0;
  padding: 8px 8px;
  min-height: 220px;
  // max-width: 60%;
  resize: vertical;
  border: 1px solid #EBEBEB;
  &.sm {
    min-height: 160px;
  }
}

select {
  border: 1px solid #EBEBEB;
  margin: 0 0 8px 0;
}

.eyecatchs_field {
  width: 100%;
  height: 150px;
  span {
    font-size: 1.4rem;
    @include mq(sm) {
      font-size: 1rem;
    }
  }
  .file-input {
    @include mq(sm) {
      font-size: 1rem;
    }
  }
  .image_area {
    margin-top: 10px;
  }
  .image-box{   
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
    @include mq(sm) {
      width: 80px;
      height: 80px;
      img {
        height: 80px;
      }
    }
  }
}