@import 'variables';
@import 'mixin';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 12px;
  font-weight: bold;
  border-bottom: 2px solid #ebebeb;
  // position: fixed;
  // z-index: 2;

  &-logo {
    img {
      width: 176px;
      object-fit: cover;
      @include mq(md) {
        width: 144px;
        @include mq(sm) {
          width: 112px;
        }
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    @include mq(sm) {
      display: none;  
    }

    &-btn {
      width: 108px;
      text-align: center;
      font-size: 1.5rem;
      padding: 4px;

      &:hover {
        opacity: 0.7;
      }

      .header-logout {
        font-size: 1.5rem;
        font-weight: bold;
        color: #444;
        border: none;
        background-color: #fff;
        font-family: "Crimson Text", "游明朝", "ヒラギノ明朝 ProN W3", serif;
        padding: 0;
      }
    }
  }
  
  &-nav-sm {
    display: none;
    .header-logout {
      text-align: left;
      width: 100%;
      font-size: 1rem;
      color: #444;
      border: none;
      background-color: #fff;
      font-family: "Crimson Text", "游明朝", "ヒラギノ明朝 ProN W3", serif;
      padding: 12px 16px;
    }
    @include mq(sm) {
      display: flex;
      align-items: center;
    }
  }
}
  