@import './variables';
@import "mixin";

$image_size: 56px;

.profilePage {
  padding: 8px;

  &_user {
    display: flex;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 6px;

    &_image {
      width: 30%;
      margin-right: 12px;
      img {
        width: 100%;
        border: solid 1px #d4d4d4;
        border-radius: 999px;
      }
    }

    &_basicInfo {
      width: 100%;
    }

    &_header {
      display: flex;
    
    }

    &_name {
      font-size: 3rem;
      font-weight: bold;
      margin-right: 8px;
      @include mq(sm) {
        font-size: 1.4rem;
      }
    }

    &_actionButton {
      width: 24px;
      padding: 0 30px;
      text-align: center;
      position: relative;
      background-color: #FFF;
      color: #858585;
      
      a {
        color: #858585;
        font-size: 1.6rem;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 50px;
        text-align: center;/*一応BOX内の文字も中央寄せ*/
        border: 1px solid #858585 ;
        border-radius: 4px;
      }
      @include mq(sm) {
        width: 14px;
        padding: 0 12px; 
        a {
          width: 30px;
          font-size: 1rem;
        }
      }
    }


    &_introduction {
      padding: 0 4px;
      font-size: 1.7rem;
      word-wrap: break-word;
      @include mq(sm) {
        font-size: 1.1rem;
      }
    }
  }
}