%p
  こんにちは #{@resource.email}!
%p パスワード変更のリクエストを受け付けました。
%p 下記のリンクをクリックし、パスワード変更を進めてください。

%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)

%p このメールに心当たりがない場合は、恐れ入りますが無視してください。
